
<h1>About</h1>
<p>
	<%= link_to "One Months Rails", "http://onemonthrails.com" %> is a project to teach 		<%= link_to "Ruby on Rails", "http://onemonthrails.com" %> in one month to luddites like me.
</p>	

